<div class="container articleContent">
      <div class="row">
        <div class="span6">
          <div class="page-header">
            <h1>Qui sommes-nous?</h1>
          </div>
          <h2>Une expérience forte de la réinsertion et du développement de réseau professionnel</h2>
          <p>Forte d’une méthode imparable de développement réseau, aussi efficace pour la recherche d’emploi que le développement commercial,  Albane Faurès a retrouvé le poste souhaité à chacune de ses cinq démissions pour suivi de conjoint.  Ayant à coeur de partager son savoir-faire elle a accompagné avec succès plusieurs personnes dans leur recherche d’emploi depuis 2006 en parallèle de son activité. Cet accompagnement s’étant intensifié en 2012, elle a décidé de créer une structure adaptée, offrant formation, travail d’équipe et suivi individuel des objectifs dans une dynamique professionnelle.</p>
          <h2>Habituée à se mettre à l’écoute de gens différents</h2>
          <p>Ses expériences managériales variées lui ont permis de travailler avec des populations très différentes: des étudiants, des détenus, des ouvriers, des commerciaux, des techniciens, des consultants de tous les continents, et des bénévoles.</p>
          <p>
 C’est par une écoute forte qu’elle cible plus vite les richesses des uns et des autres, et comprend quel est leur moteur, étapes indispensables pour les aider à se valoriser, croire en eux et dépasser leurs objectifs.</p>
          <h2>La pensée positive, transmettre une valeur phare</h2>
          <p>L’efficacité d’une action ou la réalisation d’un objectif sont fortement liés à notre état d’esprit au moment d’entreprendre.</p>
          <p> 
Notre pédagogie est basée sur la pensée positive, des outils concrets sont proposés pour cultiver les conditions de réussite et acquérir confiance en soi et capacité de conviction. La vie d’équipe et l’accompagnement individuel en sont des lieux de pratique, transformant les difficultés et impossibilités en plan d’actions.</p>
          <h2>Des intervenants de qualité</h2>
          <p>A chacun son domaine d’expertise. Réso-Solution propose des interventions adaptées en fonction de l’objectif pédagogique. Des experts en Communication, Marketing Opérationnel, Développement de Chiffre d’Affaire ou autres spécialités en fonction des besoins (web, comptabilité...) prendront en charge des ateliers de travail spécifiques.</p>
        </div>
        <div class="span6">
          <img src="/assets/images/reunion.jpg" class="img-polaroid" alt="Chercheur d'emploi">

        </div>
      </div>
    </div>
    <!-- // Article -->