<div class="container articleContent">
      <div class="row">
        <div class="span6">
          <div class="page-header">
            <h1>Chercheurs d'emploi</h1>
          </div>
          <p>Vous avez l’impression de rechercher du travail activement mais sans résultat.<br/>
          Vous remettez au lendemain vos actions de recherche, et la culpabilité vous envahit.<br/>
          La solitude vous pèse, et vous perdez peu à peu confiance en vous.<br/>
          Vous êtes ou arrivez dans une situation critique sur le plan financier.<br/>
          Vous êtes à un poste qui ne vous correspond plus, mais c’est difficile de rechercher sans temps libre.
          </p>
          
          <p class="well"><strong>Réso Solution répond à toutes ces problématiques.</strong></p>
          <h2>Prestations proposées</h2>
          <ul>
          <li>Apprendre à synthétiser ses compétences, développer son réseau professionnel, maîtriser l’argumentaire de phoning, se préparer aux entretiens et se faire connaitre des entreprises adhérentes</li>
          <li>Maintenir un rythme professionnel (objectif, équipe, méthode, rendement)</li>
          <li>Nocturne hebdomadaire et samedis ouvrés pour les chercheurs en poste</li>
          </ul>
          <h2>Les + Réso Solution</h2>
          <ul>
          <li>Rupture de l’isolement et reprise de confiance en soi par le biais de la vie d’équipe et d'ateliers spécifiques</li>
          <li>Cible définie ensemble, formation et utilisation sur place d’une méthode intensive, suivi de l’avancement</li>
          <li>Mise en contact avec les entreprises ou cabinets demandeurs</li>
          <li>Une structure d’accueil et d’écoute, lieu de vie et de travail</li>
          </ul>

          <div class="well well-large">
          <h2>Concrètement</h2>
          <ul>
          <li>Pack Retour à l’emploi : 36h de formation, 2h suivi individuel et accès illimité à la structure pendant 2 mois 480 € TTC (<small>399 € HT</small>)</li>
          <li>Pack Nocturne : 30h de formation , 2h suivi individuel et accès illimité à la structure pendant 3 mois 600 € TTC (<small>499 € HT</small>)</li>
          <li>Adhésion Réso-Solution (sans pack formation): accès aux salles de travail, espace convivial pour échanger, s'informer, avec coin repas, cabines de phoning, 50 € TTC (<small>42 € HT/mois</small>)</li>
          <li>Coaching individuel: 85 € TTC (<small>72€ HT</small>) par heure supplémentaire</li>
          </ul>
        </div>
        </div>
        <div class="span5">
          <div class="well well-large">
            <h2>Actualité</h2>
          <p>Nous serons présent au <a href="http://emploi45.citedesmetiers.fr/" target="_blank" title="Forum 45+ - Cité des métiers de Marseille">forum EMPLOI 45+</a> le 12 Décembre. Venez nous-y rencontrer.</p>
          <img src="/assets/images/forum45.jpg" class="img-polaroid special" alt="Chercheur d'emploi">
          <hr/>
          <p>"Prenez la bonne résolution pour 2013, inscrivez-vous dès à présent,
prochaine session le <b>7 janvier</b> !"</p>
        </div>
        </div>
      </div>
    </div>
    <!-- // Article -->