<div class="container articleContent">
      <div class="row">
        <div class="span6">
          <div class="page-header">
            <h1>Entreprises</h1>
          </div>
          <p><ul>
            <li><strong>Recrutement / mission</strong>:
              <ul>
<li>Vous avez des besoins mais peu de moyens (temps, budget) pour cibler votre recherche.</li>
<li>Au delà des compétences, la personnalité est un critère fort pour votre entité.</li>
<li>Vous saturez de recevoir des CV sans recommandation.</li>
</ul></li>

<li><strong>Développement Commercial</strong>: 
  <ul>
<li>Votre force de vente est en place mais manque de méthode et les résultats ne sont pas ceux attendus</li>
</ul>
          </p>
          
          <p class="well"><strong>Réso Solution répond à toutes ces problématiques.</strong></p>
          <h2>Prestations proposées</h2>
          <ul>
            <li>Nous sommes à votre disposition pour discuter de vos besoins que vous soyez adhérents ou non</li>
            <li>Nous vous adressons des profils compétents, avec des qualités humaines en adéquation avec votre entreprise.</li>
            <li>Nous intervenons auprès de votre équipe commerciale pour renforcer efficacement leur savoir-faire en prospection</li>
          </li>
          </ul>
          <h2>Les + Réso Solution</h2>
          <ul>
            <li>Un viviers de compétences pour diminuer vos coûts et délais de recherche</li>
            <li>Une garantie de profils volontaires, investis et pro-actifs dans leur carrière.</li>
          </ul>

          <div class="well well-large">
          <h2>Concrètement</h2>
          <!--<ul>
          <li><strong>Adhésion recrutement</strong>: Tarifs 450 € HT si moins de 20 salariés, 700 € HT entre 21 et 50 salariés, 950 € HT entre 51 et 200 salariés, 1200 €HT au delà; la facturation n’est déclenchée qu’à la mise en relation avec un premier profil, elle est valable jusqu’à la fin de l’année civile en cours quel que soit le nombre de profils communiqués.</li>
          <li>Formations commerciales : 1/2 journée intervention à 500 € HT + frais de déplacement</li>
          </ul>-->
          Modalités d'adhésion sur demande, <a href="#contactForm">contactez nous</a>!
        </div>
        </div>
        <div class="span6">
          <img src="/assets/images/reunion.jpg" class="img-polaroid" alt="Chercheur d'emploi">
        </div>
      </div>
    </div>
    <!-- // Article -->