<div class="container articleContent">
      <div class="row">
        <div class="span6">
          <div class="page-header">
            <h1>Experts indépendants</h1>
          </div>
          <p>Vous avez une véritable expertise métier à apporter à des entreprises, mais ne savez pas la vendre.<br/>
Vous ne trouvez pas le temps pour votre développement commercial.<br/>
Vous pensiez que le bouche à oreille suffirait à vous faire connaître mais votre activité à son stade de développement ne vous permet pas de vivre.<br/>
Par moments vous regrettez votre ancien poste salarié avec des objectifs clairs et une vie d’équipe.<br/>
Vous avez besoin de bureaux ponctuellement pour travailler ou recevoir un client. <br/>

          </p>
          
          <p class="well"><strong>Réso Solution répond à toutes ces problématiques.</strong></p>
          <h2>Prestations proposées</h2>
          <ul>
          <li>Apprendre à rédiger une plaquette de services, identifier ses cibles en fonction du CA à réaliser, prospecter et fidéliser ses clients, mieux communiquer, se préparer au phoning</li>
          <li>Définir les objectifs ensemble, se former et utiliser sur place la prospection intensive avec suivi de l’avancement</li>
          
          <li>Bénéficier d’un cadrage professionnel (objectif, équipe, méthode, rendement)</li>
          </ul>
          <h2>Les + Réso Solution</h2>
          <ul>
          <li>Rencontre avec d'autres experts indépendants et retrouver une vie d’équipe pour le meilleur uniquement!</li>
          <li>Mise en contact avec des entreprises externalisant vos savoirs faire</li>
          <li>Une structure d’accueil et d’écoute, lieu de vie et de travail</li>
          </ul>

          <div class="well well-large">
          <h2>Concrètement</h2>
          <ul>
          <li><strong>Pack Business Booster</strong>: 18h de formation (intervenants différents), 1h30 suivi individuel et accès illimité à la structure pendant 1 mois (340 € HT)</li>
          <li>Adhésion Réso-Solution (sans pack formation): accès aux salles de travail, espace convivial pour échanger, s'informer, avec coin repas, cabines de phoning, (42 € HT/mois)</li>
          <li>Mise à disposition d’une salle de réunion pour recevoir des clients 20€ HT/h</li>
          <li>Coaching individuel: 85 €HT par heure supplémentaire</li>
          </ul>
        </div>
        </div>
        <div class="span6">
          <img src="/assets/images/reunion.jpg" class="img-polaroid" alt="Chercheur d'emploi">
        </div>
      </div>
    </div>
    <!-- // Article -->