<div class="container articleContent">
      <div class="row">
        <div class="span6">
          <div class="page-header">
            <h1>Cabinets de recrutement</h1>
          </div>
          <p>Vous êtes mandatés pour un poste à pourvoir, et connaissez bien votre client. <br/>
Vous recherchez un consultant pour une mission ponctuelle ou longue.<br/>
Au delà des compétences, la personnalité est un critère fort pour votre client.<br/>
Vous seriez ravis qu’une structure offrant des compétences disponibles et investies puisse exister!
          </p>
          
          <p class="well"><strong>Réso Solution répond à toutes ces problématiques.</strong></p>
          <h2>Prestations proposées</h2>
          <ul>
            <li>Nous sommes à votre disposition pour discuter de votre cahier des charges</li>
            <li>Nous vous adressons des profils compétents, avec les qualités humaines requises</li>
          </ul>
          <h2>Les + Réso Solution</h2>
          <ul>
            <li>Un viviers de compétences pour diminuer vos coûts et délais de recherche</li>
            <li>Une garantie de profils volontaires, investis et pro-actifs dans leur carrière.</li>
          </ul>

          <div class="well well-large">
          <h2>Concrètement</h2>
          <!--<ul>
          <li>Tarif : 500 € HT par contact qualifié,
            500 € HT par CDI/CDD ou 300 € HT par mission</li>
          </ul>-->
          Modalités d'adhésion sur demande, <a href="#contactForm">contactez nous</a>!
        </div>
        </div>
        <div class="span6">
          <img src="/assets/images/reunion.jpg" class="img-polaroid" alt="Chercheur d'emploi">
        </div>
      </div>
    </div>
    <!-- // Article -->